@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;500&family=Work+Sans:wght@200;300&display=swap');
/* font-family: 'Lora', serif;
font-family: 'Work Sans', sans-serif; */

body{
    margin:0px;
    padding:0px;
    font-family: 'Work Sans', sans-serif;
    transform: uppercase;
}

.light{
    background-color: white;
}

.light h1, .light p{
    color:black;
}

.dark{
    background-color: #2e2e2e;
}

.dark h1, .dark p{
    color:white;
}
h1{
    font-family: 'Lora', serif;
    font-size: 3em;
}

p{
    font-size: 1.5em;
}
/*================================================================

            HEADER

================================================================*/

header{
    display: flex;
    align-items: center;
}

header article{
    flex: 1 0 50%;
    text-align: center;
    
}
header p{
    font-family: 'Lora', serif;
    font-size: 1.5em;
    word-spacing: 10px;
    letter-spacing: 7px;
    transform: uppercase;

}
header h1{
    font-size: 7em;
    word-spacing: 25px;
}

header img{
    flex: 1 0 50%;
    height: 75vh;
}

/*================================================================

            MAIN

================================================================*/
/*-- Nav & Logo --*/
/*-----Burger-----*/
#burger{
    display: none;
}
/*-----Burger-----*/

main{
    background-color: #2e2e2e;
}
main > div {
    position: relative;
    position: sticky;
    top: 0%;
}

main > div img{
    padding: 20px 20px;
}

.nav li{
    display: inline;
    list-style: none;
    padding-left: 200px;
} 

.nav {
   position: absolute;
   top: 25px;
   left: 25%;
}

main ul a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

/*-- Section 1 --*/

#ourStory{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ourStory div{
    line-height: 40px;
   width: 40%;
   margin-right: 5%;
}
#ourStory h1{
    text-align: center;
}

#ourStory img{
    padding: 10% 0;
    width: 50%;
}

/*-- Section 2 --*/

#FEATURED{
    text-align: center;
    padding: 15% 0;
}

.FEATURED{
    display: flex;
    justify-content: space-around;
    padding: 100px  0;
}

.FEATURED img{
    height: 30vh;
}

figcaption{
    color: gray;
    font-size: 1.3em
}

/*================================================================

            FOOTER

================================================================*/

.newsletter{
    display: flex;
    justify-content: space-around;

}

.newsletter article{
  
    padding: 12% 0;
    line-height: 50px;
}
form{
    padding: 11% 0;
}
label{
    color: white;
    font-size: 1.5em;
}
input{
    padding: 10px 200px;
}
textarea{
    padding: 15px 180px;
}

.copyright{
    background-color: #1d2c2f;
    display: flex;
    padding: 50px 0;
    justify-content: space-around;
}
.copyright h1{
    
    font-size: 1.3em;
}

.copyright ul li{
    display: inline;
    color: white;
    font-size: 1.3em;
    padding-left: 50px;
}

button{
    padding: 10px 20px;

}
/*==============================================================================================================================================

                                                                       Media Queries

==============================================================================================================================================*/

@media (max-width: 768px){
    .light{
        background-color: pink;
    }
    h1{
        font-size: 1.5em;
    }
    p{
        font-size: 1em;
        font-weight: 200;
        line-height: 30px;
    }
    header{
        display: block;
    }
    header article h1{
        padding: 70px 0 0px 0;
        margin: 0px;
        font-size: 3em;
    }
    header p{
        padding-bottom: 10%;
        font-size: 1em;
    }
    header img{
        height: 71vh;
        padding-bottom: 0px;
    }
    /*--------------Burger--------------*/
    .nav{
        display: none
    }
    .burger{
        display: block
    }
    main > div{
        display: absolute;
        top: 0px;
    }

    #ourStory{
        display: block;
    }

    #ourStory img{
        height:50vh;
        width: 70vw;
        margin-left: 14%;
        padding-bottom: 0px;
        padding-top: 15%;
    }

    #ourStory div{
        text-align: center;
        line-height: normal;
        width: 75%;
        margin: 0 200px 0 13%;
        padding: 30px 0 10% 0;
    }
    .FEATURED{
        display: block;
    }
    figure{
        padding: 5% 0;
    }
    .newsletter{
        display: block;
        margin-left: 14%;
    }
    .copyright{
        display: block;
    }
    
        
    footer ul{
        padding-top: 5%;
        text-align: center;
    }
    footer li{
        padding-left: 200px;
        font-size: 10px;
        font-size: 15px;
        color: red;
    }
}


